html, body {
    margin: 0;
    padding: 0;
  }  

@font-face {
    font-family: 'Tagesschrift';
    src: url(fonts/Tagesschrift-Regular.ttf);
}
body {
    font-family: 'Tagesschrift', sans-serif;
    background-color: antiquewhite;
}
#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
/* Image Block */
#backgroundImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    width: 50%;
    height: 100%;
    object-fit: contain;
}
#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    /* padding: 10px; */
    padding-bottom: 10px;
    margin-top: 33.25vh;
}

#logoImage {
    height: 100px;
}

/* Main block  */
#mainBlock {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#welcomeBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcomeMessage {
    /* background-color: aquamarine; */
    margin: 30px;
    /* margin-top: 20px; */
    margin-right: 30%;
    font-size: 1.4rem;
}
#welcomeMessage2 {
    /* background-color: #77cf33; */
    margin-left: 30px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Sign Up Section */
#signUpSection {
    display: flex;
    flex-direction: column;
    font-family: 0.5rem;
    
}

.form-block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#formDiv {
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.form-block input{
    height: 23px;
    font-size: 1.2rem;
    border: solid 1px;
    border-color: #E5E7EB;
    border-radius: 3px;
}

.form-block input:focus {
    outline: 2px solid rgb(0, 140, 255);
    box-shadow: 2px 2px 3px;
}
.form-block input:user-invalid {
    outline: 2px solid rgb(202, 10, 10);
}
.form-block input:user-valid {
    outline: 2px solid rgb(36, 202, 10);
}


/* Button section */
#button {
    background-color: #aba161;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 150px;
    height: 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Tagesschrift', sans-serif;
}
#button:hover {
    background-color: #dacb6c;
}
#button:active {
    width: 145px;
    height: 45px;
    background-color: #77cf33;
}

#logIn {
    margin-top: 40px;
    margin-left: 40px;
}
a:link {
    color: #aba161;
}